{
  "Serilog": {
    "Using": [],
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "System": "Warning"
      }
    },
    "Enrich": [ "FromLogContext", "WithMachineName" ],
    "WriteTo": [
      { "Name": "Console" },
      {
        "Name": "File",
        "Args": {
          "path": "C:\\Logs\\FileWatcherService\\FileWatcherService_log.txt",
          "outputTemplate": "{Timestamp:G} -- {Message}{NewLine:1}{Exception:1}",
          "rollingInterval":  "Day"
        }
      }
    ]
  },
  "Clients": [
    {
      "ClientName": "Client1",
      "DirectoryToWatch": "C:/FTP/Client1",
      "ServiceType": "FileWatcherService.ClientServices.Client1FileWatcherService"
    },
    {
      "ClientName": "Client2",
      "DirectoryToWatch": "C:/FTP/Client2",
      "ServiceType": "FileWatcherService.ClientServices.Client2FileWatcherService"
    }
  ]
}
